* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
 background: rgb(255,234,237);
 background: radial-gradient(circle, rgba(255,230,244,1) 3%, rgba(250,196,222,1) 17%, rgb(248, 202, 211) 27%, rgb(221, 136, 176) 65%);
}

.homeheader{
    display: flex;
    padding: 20px;
    padding-left: 50px;
    padding-top: 30px;
    background-color: rgb(247, 191, 208);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(251, 153, 153, 0.349);
    border-radius: 90px;
    margin: 40px;
    margin-left: 200px;
    margin-top: 70px;
    padding-top: 40px;
    width: 800px;
    height: 300px;
}

.sobresite {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: cursive;
    font-size: 20px;
    color: #b67272;    
    
}

.sobresitetxt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    color: #6e4646;
}

.edsexual {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    margin-top: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #b6636a;
}

.edsexualtxt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  color: #603636;
  font-size: 20px;
}


 /* botoesdaheader */

 .botaohome {
    width: 150px;
    height: 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    color: #935050;
    background-color: rgb(247, 191, 208);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaoinfos {
    width: 150px;
    height: 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(247, 191, 208);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaoforum {
    width: 150px;
    height: 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(247, 191, 208);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaoperfil {
    width: 150px;
    height: 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(247, 191, 208);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaocontatos {
    width: 150px;
    height: 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(247, 191, 208);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}
