* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
 background: radial-gradient(circle, rgba(255,230,244,1) 3%, rgba(250,196,222,1) 17%, rgb(248, 202, 211) 27%, rgb(221, 136, 176) 65%);
}

.homeheader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 30px;
    align-content: center;
    display: flex;
    justify-content: center;
    background-color: rgb(247, 191, 208);
    border-bottom: 2px solid rgb(255, 255, 255);
}

.sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(250, 235, 241, 0.568);
    border-radius: 90px;
    margin: 40px;
    margin-left: 26%;
    margin-top: 10%;
    padding-top: 40px;
    width: 800px;
    height: 350px;
}

.sobresite {
    text-transform: uppercase;
    font-family: cursive;
    font-size: 20px;
    color: #be6e8f;       
}

.sobresitetxt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    color: #8f5060;
}

.edsexual {
    display: flex;
    margin-left: 28%;
    text-transform: uppercase;
    margin-top: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    color: #bb5c84;
}

.edsexualtxt {
  margin-left: 30%;
  padding-top: 30px;
  color: #603636;
  font-size: 20px;
}


 /* botoesdaheader */

 .botaohome {
    width: 200px;
    height: 30px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    color: #ffffff;
    background-color: rgb(247, 191, 208);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaoinfos {
    width: 200px;
    height: 30px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(247, 191, 208);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaoforum {
    width: 200px;
    height: 30px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(247, 191, 208);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaoperfil {
    width: 200px;
    height: 30px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(247, 191, 208);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaocontatos {
    width: 200px;
    height: 30px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(247, 191, 208);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}
