* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

body {
 background: rgb(255,234,237);
background: radial-gradient(circle, rgba(255,234,237,1) 26%, rgba(249,152,166,1) 72%);
}

.homeheader{
    align-items: baseline;
    margin: auto;
    padding-top: 20px;
    background-color: rgb(235, 162, 174);
}

.sobresite {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #d48181;
}

.sobresitetxt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    color: #6e4646;
}

.sobremim {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 45px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #d48181;

}

.sobremimtxt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    color: #6e4646;

}
 /* botoesdaheader */

 .botaohome {
    width: 150px;
    height: 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(235, 162, 174);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaoinfos {
    width: 150px;
    height: 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(235, 162, 174);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaoforum {
    width: 150px;
    height: 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(235, 162, 174);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaoperfil {
    width: 150px;
    height: 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(235, 162, 174);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

.botaocontatos {
    width: 150px;
    height: 20px;
    padding-bottom: 30px;
    margin-left: 50px;
    margin-bottom: 15px;
    background-color: rgb(235, 162, 174);
    color: #935050;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    border: none;
}

