* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    background: rgb(255,234,237);
   background: radial-gradient(circle, rgba(255,234,237,1) 26%, rgba(249,152,166,1) 72%);
   }
   
.header{
  display: flex;
  padding: 20px;
  padding-left: 50px;
  padding-top: 30px;
  background-color: rgb(235, 162, 174);
  border-bottom: 2px solid rgb(255, 255, 255);
}


/* botoesdaheader */

.botaohome {
  width: 150px;
  height: 20px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  background-color: rgb(235, 162, 174);
  color: #935050;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
}

.botaoinfos {
  width: 150px;
  height: 20px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  background-color: rgb(235, 162, 174);
  color: #935050;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
}

.botaoforum {
  width: 150px;
  height: 20px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  background-color: rgb(235, 162, 174);
  color: #935050;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
}

.botaoperfil {
  width: 150px;
  height: 20px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  background-color: rgb(235, 162, 174);
  color: #935050;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
}

.botaocontatos {
  width: 150px;
  height: 20px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  background-color: rgb(235, 162, 174);
  color: #935050;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
}