* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  background: radial-gradient(circle, rgba(255,230,244,1) 3%, rgba(250,196,222,1) 17%, rgb(248, 202, 211) 27%, rgb(221, 136, 176) 65%);
}
   
.header{
   position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    padding: 30px;
    align-content: center;
    display: flex;
    justify-content: center;
    background-color: rgb(247, 191, 208);
    border-bottom: 2px solid rgb(255, 255, 255);
}


/* botoesdaheader */

.botaohome {
  width: 200px;
  height: 30px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  background-color: rgb(247, 191, 208);
  color: #935050;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
}

.botaoinfos {
  width: 200px;
  height: 30px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  background-color: rgb(247, 191, 208);
  color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
}

.botaoforum {
  width: 200px;
  height: 30px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  background-color: rgb(247, 191, 208);
  color: #935050;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
}

.botaoperfil {
  width: 200px;
  height: 30px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  background-color: rgb(247, 191, 208);
  color: #935050;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
}

.botaocontatos {
  width: 200px;
  height: 30px;
  padding-bottom: 30px;
  margin-left: 50px;
  margin-bottom: 15px;
  background-color: rgb(247, 191, 208);
  color: #935050;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  border: none;
}