* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
  }

  body {
    background: rgb(255,230,244);
    background: radial-gradient(circle, rgba(255,230,244,1) 3%, rgba(250,196,222,1) 17%, rgba(249,173,188,1) 27%, rgba(239,147,147,1) 65%);
    font-family: 'Roboto', sans-serif;
  }

 .titulocad {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fbfbfb;
    font-size: 35px;
    text-transform: uppercase;
    padding-top: 25px;
}

.cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    margin: 70px;
    margin-top: 40px;
    margin-left: 330px;
    width: 600px;
}

.cadastroinput {
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    border: 1px solid #fde5e5;
    border-radius: 30px;
}

.email{
    width: 500px;
    height: 30px;
    background-color: #f8e7e7;
    margin: 20px;
    margin-left: center;
    border-radius: 10px;
    border-color: #cd7373;
    box-shadow: 1px 1px 6px #a30000;
}

.textobom{
    position: relative;
    padding-right: 440px;
}
  
p{
    display: flex;
    align-items: center;
    color: #ee8383;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-right: 350px;
 }

.botaologin {
    width: 200px;
    height: 40px;
    margin-left: 340px;
   color: #c66161;
   background-color: #fae1e1;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   border-radius: 30px;
   border-color: #fdbfbf;
}