* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  background: rgb(255,234,237);
  background: radial-gradient(circle, rgba(255,230,244,1) 3%, rgba(250,196,222,1) 17%, rgb(248, 202, 211) 27%, rgb(221, 136, 176) 65%);
}
 
.header {
  display: flex;
  padding: 20px;
  padding-left: 50px;
  padding-top: 30px;
  background-color: rgb(247, 191, 208);
  border-bottom: 2px solid rgb(255, 255, 255);
}

/* botoesdaheader */

.botaohome {
width: 150px;
height: 20px;
padding-bottom: 30px;
margin-left: 50px;
margin-bottom: 15px;
background-color: rgb(247, 191, 208);
color: #935050;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
border: none;
}

.botaoinfos {
width: 150px;
height: 20px;
padding-bottom: 30px;
margin-left: 50px;
margin-bottom: 15px;
background-color: rgb(247, 191, 208);
color: #935050;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
border: none;
}

.botaoforum {
width: 150px;
height: 20px;
padding-bottom: 30px;
margin-left: 50px;
margin-bottom: 15px;
background-color: rgb(247, 191, 208);
color: #935050;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
border: none;
}

.botaoperfil {
width: 150px;
height: 20px;
padding-bottom: 30px;
margin-left: 50px;
margin-bottom: 15px;
background-color: rgb(247, 191, 208);
color: #935050;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
border: none;
}

.botaocontatos {
width: 150px;
height: 20px;
padding-bottom: 30px;
margin-left: 50px;
margin-bottom: 15px;
background-color: rgb(247, 191, 208);
color: #935050;
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 20px;
border: none;
}